### Data Types and Conversions
1. int
2. float
3. string

In [5]:
n1 = 13
print("n1=",n1)
type(n1)

n1= 13

int

In [6]:
n2 = 13.56
print("n2=",n2)
type(n2)

n2= 13.56

float

In [8]:
s="apssdc"
print("s=",s)
type(s)

s= apssdc

str

In [10]:
n =13
m =4
print(type(m))
print(type(n))

<class 'int'>
<class 'int'>

In [11]:
n =13
print(type(n))
print(type(str(n)))

<class 'int'>
<class 'str'>

In [12]:
n1 = 23
s =str(n1)
print(type(s))

<class 'str'>

In [13]:
num1 ="12" # As it is considered as string ,concatenation occured instead of sum
num2 ="10"
print(num1+num2)

1210

In [14]:
n1 = 12.3
n2= 13.6
print(n1+n2)

25.9

### Indentation

In [16]:
n1,n2 = 13,12
if(n1>n2):
    print("n1 is greater than  n2")
else:
    print("wrong statement")

n1 is greater than  n2

### Reading input Dynamically

In [17]:
x = input()
print(x)
print(type(x))

123
123
<class 'str'>

In [21]:
n = int(input("enter a value:"))
print(n)
print(type(n))

enter a value:123
123
<class 'int'>

In [20]:
a=123
print(type(a))
f= float(a)
print(type(f))
print(a)
print(f)

<class 'int'>
<class 'float'>
123
123.0

### Operators
1. Assignment operators
2. Arithmetic operators
3. Comparison operators
4. Logical operators
5. Identity operators
6. Membership operators
7. Bitwise operators

### 1. Arithmetic operators
- +,-,*,/,%,//,**

In [22]:
a,b =5,3
print("a+b=",5+3)
print("a-b=",5-3)
print("a/b=",5/3)
print("a*b=",5*3)
print("a%b=",5%3)
print("a//b=",5//3)
print("a**b=",5**3)  #5*5*5

a+b= 8
a-b= 2
a/b= 1.6666666666666667
a*b= 15
a%b= 2
a//b= 1
a**b= 125

### 2.Assignment operators
- =,+=,-=,*= etc.,

In [28]:
a= 12
print(a)
a+= 1    #a=a+1=13
print("a+=",a)
a-= 1
print("a-=",a)

12
a+= 13
a-= 12

### 3. Comparison operators
- ==,>,<,>=,<=,!=

In [31]:
n1,n2 =5,3
print(n1==n2)
print(n1!=n2)

False
True

### 4. Logical operators
- and,or,not

In [36]:
a=5
print(a<6 and a>2)
print(a<6 or a>2)
res =a<6 or a>2
print(not(res))

True
True
False

### 5 . Identity operators
- is, is not

In [37]:
x,y= 5,3
print(x is y)
print(x is not y)

False
True

In [38]:
a,b=6,6
print( a is b)
print( a is not b)

True
False

### 6. Membership operators
- in,not in

In [43]:
fruits = ["apples","mangoes", "guava"]
print('apples' in fruits)
print('banana' not in fruits)
print('banana' in fruits)

True
True
False

### 7. Bitwise operators
- &,|,^,>>,<<,~

In [46]:
print(5 & 3)
print(5 | 3)

1
7